services:
  frontend:
    build: ./frontend
    ports:

  backend:    
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgres://user:pass@db:5432/catalogo
    depends_on:
      - db
  
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: catalogo
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always